@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/****************************** Importación de Fuentes Web ******************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/****************************** Variables ******************************/
/****************************** Mixins ******************************/
/****************************** Estilos Globales ******************************/
html {
  font-size: 16px;
  max-height: 100rem;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

h1 {
  font-family: "PT Serif", serif;
  color: #FF3333 !important;
}

h2 {
  font-family: "PT Serif", serif;
  color: #305873 !important;
}

p {
  font-family: "Open Sans", sans-serif;
}

/****************************** Estilos del Nav ******************************/
.navbar-style {
  transition: all 1s ease;
  background-color: #28282B !important;
}

.navbar-style:hover {
  background-color: #28282B !important;
  box-shadow: 0 0 0.625rem #788D91;
}

.navbar {
  padding: 0.75rem;
  letter-spacing: 0.25rem;
  border-bottom: 0.25rem solid #FF3333;
  height: 6.25rem;
}

.navbar-logo {
  width: 12.5rem;
  height: 3.438rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.nav-item a {
  color: #FF3333 !important;
  font-size: larger;
  font-weight: 500;
}

.navbar-menu-option {
  font-family: "Open Sans", sans-serif;
  color: #FF7070 !important;
  font-size: 80px;
  transition: all 1s ease;
}

.dropdown-menu a:hover {
  background-color: #D6D6D6 !important;
}

.option-menu:hover {
  color: #28282B !important;
  border-radius: 0.313rem;
  background-color: #FF7070;
  transition: all 1s ease;
}

.option-menu:active {
  background-color: #D6D6D6;
}

.dropdown-menu a {
  color: #FF3333;
}

.dropdown-menu a:hover {
  background-color: #FF7070;
}

/****************************** Menu Hamburguesa ******************************/
.navbar-toggler {
  background-color: #305873;
  border: 0.063rem solid #FF7070;
}

.navbar-toggler:hover {
  background-color: #FF7070;
}

.custom-toggler.navbar-toggler {
  border-color: #305873;
  border-width: 0.063rem;
}

/* Líneas */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(156, 160, 187, 0.866)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(228, 253, 225)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/****************************** Línea separadora ******************************/
.separator-line {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  background-color: #FF3333;
}

/****************************** Sección: Footer ******************************/
.footer-style {
  height: 6.25rem;
  padding: 0.625rem;
  letter-spacing: 0.125rem;
  transition: all 1s ease;
  background-color: #28282B;
  box-shadow: 0 -2px 4px #FF7070;
}

.footer-text {
  color: #FF3333;
  font-size: larger;
  font-weight: 500;
}

/****************************** Estilos carrusel ******************************/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.125rem;
  height: 3.125rem;
  background-size: 100%, 100%;
  background-color: #FF3333;
  border-radius: 0.313rem;
}

.carousel-banner {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido verticalmente */
  background-size: cover;
  background-position: center;
  background-color: aliceblue !important;
  background-blend-mode: luminosity !important;
}

.carousel-item img {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.carousel-indicators button {
  background-color: #FF7070 !important;
}

/****************************** Estilos carrusel ******************************/
.btn-mgr-primary {
  background-color: #305873 !important;
  color: #f1f1f1 !important;
  width: 18%;
}

.btn-mgr-primary:hover {
  background-color: #42799E !important;
  color: #f1f1f1 !important;
}

/****************************** Menu - current option ******************************/
a[aria-current=page] {
  pointer-events: none; /* Optional: Prevents clicking on the link */
}

a[aria-current=page].dropdown-item.option-menu.navbar-menu-option:hover {
  background-color: #FF7070; /* Replace with the background color you want on hover */
  color: inherit; /* Replace with the text color you want on hover */
}

/****************************** Variables globales ******************************/
.clip-section-one h1,
.clip-section-two h1 {
  color: #f1f1f1 !important;
}

.clip-section-one h1 {
  padding-top: 0.938rem;
  padding-left: 0.938rem;
}

.clip-section-two h1 {
  padding-top: 0.938rem;
  padding-right: 0.938rem;
}

p {
  font-family: "PT Serif", serif;
}

/****************************** Banner ******************************/
.about-us-banner {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("../imgs/dw_p1_about_us.webp");
  /* color del modo */
  /* modo de color */
  background-blend-mode: luminosity;
  height: 37.5rem;
  /* profundidad */
  box-shadow: inset 0 0 0 1000px rgba(226, 221, 221, 0.4);
  padding: 6.25rem;
}

.about-us-banner strong {
  color: #FF3333;
}

.about-us-banner p {
  color: #f1f1f1 !important;
}

.espacio {
  padding: 500px 0;
}

/****************************** Section 1 - Clip-path ******************************/
.clip-section-one {
  -webkit-clip-path: polygon(0% 10%, 95.2% 10%, 0% 100%);
          clip-path: polygon(0% 10%, 95.2% 10%, 0% 100%);
  background-color: #FF7070; /* Replace $color-palette-6-1 with actual color */
  min-height: 6.25rem; /* Replace $px-600 with actual pixel value */
  z-index: 1; /* Ensure this is lower than the about-us-banner if necessary */
  position: relative;
}

/****************************** Section 2 - Clip-path ******************************/
.clip-section-two {
  -webkit-clip-path: polygon(100% 2.5%, 4.8% 2.5%, 100% 100%);
          clip-path: polygon(100% 2.5%, 4.8% 2.5%, 100% 100%);
  background-color: #FF7070; /* Replace $color-palette-6-1 with actual color */
  min-height: 6.25rem; /* Replace $px-600 with actual pixel value */
  z-index: 1; /* Ensure this is lower than the about-us-banner if necessary */
  position: relative;
}

/****************************** Video Lightbox ******************************/
.cursor {
  cursor: pointer;
}

/* botón ver video*/
#boton {
  background-color: purple;
  font-weight: bolder;
  border: #fff;
  color: #fff;
  padding: 7px 15px;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0;
}

/* clases lightbox */
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 10% auto;
  padding: 0 3%;
  height: auto;
  z-index: 10;
}

/*transparencia*/
.lightbox-content {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
  background: transparent;
  background-color: purple;
  position: absolute;
  /* alinear al centro el boton cerrar:  */
  /*left:40%; */
  padding-right: 0.625rem;
  right: 8%;
  max-width: 960px;
  font-weight: 300;
  font-size: 20px;
  border: none;
  color: #fff;
  /*altura del boton X*/
  top: -40px;
  /*display: block;*/
}

@media (max-width: 575px) {
  .lightbox-container {
    margin-top: 150px !important;
  }
}
/* controla las clases responsivas del vídeo */
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 575px) {
  .video-container {
    width: 100% !important;
    margin: 0 auto;
  }
}
.titulajes {
  color: #003c5e;
  font-weight: bolder;
  font-size: 40px;
}

/****************************** Section Visión ******************************/
.vision-img img {
  width: 100%;
  height: 280px;
}/*# sourceMappingURL=about-us.css.map */