@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "general.scss";

/****************************** Banner ******************************/
.apt-banner {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('../imgs/dw_p1_apt_banner.webp');
    /* color del modo */
    // background-color: $color-palette-6-1;
    /* modo de color */
    background-blend-mode: luminosity;
    height: $px-600;
    /* profundidad */
    box-shadow: inset 0 0 0 1000px rgba(255, 112, 112, 0.4);
    padding: $px-100;
}

.apt-banner strong {
    color: $color-palette-1-1;
}

.apt-banner p {
    // font-weight: lighter;
    color: $color-palette-2-1 !important;
}

.espacio {
    padding: 500px 0;
}


/****************************** Cards de precios ******************************/

.price-card:hover {
    // background-color: #;
    margin-top: 40%;
    z-index: 2;
    transform: scale(0.9);
    transition: all 0.2s ease-in;
    border: none;
    /* Buscar sombras generadas */
    /*  */
    box-shadow: rgba(127, 197, 207, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
}

/****************************** Transiciones de imágenes ******************************/
.custom-transition-font {
    font-size: $font-size-p-large !important;
    color: $color-transition-font !important;
    font-family: $font-family-pt-serif;
}
  
/* Contenedor de los círculos promocionales */
.circlecontainer {
    position: relative;
    display: inline-block;
}
  
  /* Transición ejecutada */
.hovercircle {
    position: absolute;
    top: $perc-50;
    left: $perc-50;
    transform: translate(-$perc-50, -$perc-50) scale(0);
    width: 15.625rem;
    height: 15.625rem;
    border-radius: $border-radius-circle;
    background-color: rgba(66, 121, 158, 0.7);
    @include center-content;
    color: white;
    font-size: $px-20;
    opacity: 0;
    transition: transform $transition-duration $transition-ease, opacity $transition-duration $transition-ease;
}
  
.circlecontainer:hover .hovercircle {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
  
.img-galeria {
    width: 15.625rem;
    border-radius: $border-radius-circle;
    box-shadow: $box-shadow;
}

.section-mechanics {
    padding-bottom: $px-50;
}

