@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "general.scss";

.sectionForm {
    background-color: #f8f8f8;
}

.sectionForm .containerForm {
    width: 80%;
    padding: 20px;
}

.sectionForm .containerForm .formRow {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sectionForm .containerForm .formRow .colForm {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    transition: 0.5s;
}

.sectionForm .containerForm .formRow .colForm .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #000;
    font-weight: bold;
}

.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    z-index: 1;
    color: #000;
}

.sectionForm .containerForm .formRow .colForm .inputBox .text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.sectionForm .containerForm .formRow .colForm .inputBox input:focus+.text,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid+.text {
    left: -10px;
    top: -35px;
}

.sectionForm .containerForm .formRow .colForm .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
    background-color: $color-palette-4-1;
}

.sectionForm .containerForm .formRow .colForm .inputBox input:focus~.line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid~.line {
    height: 100%;
}

.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
}

.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    height: 100px;
    resize: none;
}

.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus+.text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid+.text {
    left: -10px;
    top: -35px;
}

.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus~.line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid~.line {
    height: 100%;
}

input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background-color: $color-palette-4-1;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.whatsapp-icon {
    width: $px-100 !important;
    height: $px-100 !important;
}
