.loginContainer h1,
.loginContainer h2,
.cambioContrasennaContenedor h1,
.cambioContrasennaContenedor h2 {
    color: #1c95b6;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.loginLogo {
    background: url('../img/logo/Logo\ -\ Black\ BG\ -\ xl\ -\ transp.svg') no-repeat top left transparent;
    background-size: 100%;
    display: block;
    height: 289px;
    width: 584px;
    margin: 25px auto 50px;
}

.detailsContainer {
    background-color: rgba(70, 70, 70, 0.1);
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 60%;
}

