@import "general.scss";

@media (max-width: 36rem){
    h1 {
        font-size: $px-20;
    }
    h3 {
        font-size: $px-13;
    }
    h6 {
        font-size: $px-12;
    }
    button {
        width: 30%;
        font-size: $px-11 !important;
    }
}

@media (max-width: 87.438rem) {
    .carousel-indicators {
      display: none !important;
    }

    nav.fixed-top.fixed-top {
        position: static;
    }
}

@media (max-width: 61.938rem) {
    li.ps-5 {
        padding-left: 0 !important;
    }
}