@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/****************************** Variables ******************************/
/****************************** Mixins ******************************/
/****************************** Estilos Globales ******************************/
html {
  font-size: 16px;
  max-height: 100rem;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

h1 {
  font-family: "PT Serif", serif;
  color: #FF3333 !important;
}

h2 {
  font-family: "PT Serif", serif;
  color: #305873 !important;
}

p {
  font-family: "Open Sans", sans-serif;
}

/****************************** Estilos del Nav ******************************/
.navbar-style {
  transition: all 1s ease;
  background-color: #28282B !important;
}

.navbar-style:hover {
  background-color: #28282B !important;
  box-shadow: 0 0 0.625rem #788D91;
}

.navbar {
  padding: 0.75rem;
  letter-spacing: 0.25rem;
  border-bottom: 0.25rem solid #FF3333;
  height: 6.25rem;
}

.navbar-logo {
  width: 12.5rem;
  height: 3.438rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.nav-item a {
  color: #FF3333 !important;
  font-size: larger;
  font-weight: 500;
}

.navbar-menu-option {
  font-family: "Open Sans", sans-serif;
  color: #FF7070 !important;
  font-size: 80px;
  transition: all 1s ease;
}

.dropdown-menu a:hover {
  background-color: #D6D6D6 !important;
}

.option-menu:hover {
  color: #28282B !important;
  border-radius: 0.313rem;
  background-color: #FF7070;
  transition: all 1s ease;
}

.option-menu:active {
  background-color: #D6D6D6;
}

.dropdown-menu a {
  color: #FF3333;
}

.dropdown-menu a:hover {
  background-color: #FF7070;
}

/****************************** Menu Hamburguesa ******************************/
.navbar-toggler {
  background-color: #305873;
  border: 0.063rem solid #FF7070;
}

.navbar-toggler:hover {
  background-color: #FF7070;
}

.custom-toggler.navbar-toggler {
  border-color: #305873;
  border-width: 0.063rem;
}

/* Líneas */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(156, 160, 187, 0.866)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(228, 253, 225)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/****************************** Línea separadora ******************************/
.separator-line {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  background-color: #FF3333;
}

/****************************** Sección: Footer ******************************/
.footer-style {
  height: 6.25rem;
  padding: 0.625rem;
  letter-spacing: 0.125rem;
  transition: all 1s ease;
  background-color: #28282B;
  box-shadow: 0 -2px 4px #FF7070;
}

.footer-text {
  color: #FF3333;
  font-size: larger;
  font-weight: 500;
}

/****************************** Estilos carrusel ******************************/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.125rem;
  height: 3.125rem;
  background-size: 100%, 100%;
  background-color: #FF3333;
  border-radius: 0.313rem;
}

.carousel-banner {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido verticalmente */
  background-size: cover;
  background-position: center;
  background-color: aliceblue !important;
  background-blend-mode: luminosity !important;
}

.carousel-item img {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.carousel-indicators button {
  background-color: #FF7070 !important;
}

/****************************** Estilos carrusel ******************************/
.btn-mgr-primary {
  background-color: #305873 !important;
  color: #f1f1f1 !important;
  width: 18%;
}

.btn-mgr-primary:hover {
  background-color: #42799E !important;
  color: #f1f1f1 !important;
}

/****************************** Menu - current option ******************************/
a[aria-current=page] {
  pointer-events: none; /* Optional: Prevents clicking on the link */
}

a[aria-current=page].dropdown-item.option-menu.navbar-menu-option:hover {
  background-color: #FF7070; /* Replace with the background color you want on hover */
  color: inherit; /* Replace with the text color you want on hover */
}

@media (max-width: 1399px) {
  .carousel-indicators {
    display: none !important;
  }
  nav.fixed-top {
    position: static;
  }
}
/* Extra Small devices (landscape phones, 576px and down) */
@media (max-width: 22.5rem) {
  .hero-content h1 {
    font-size: 1.438rem;
  }
  body h2 {
    font-size: 1.25rem !important;
  }
  .hero-content p {
    font-size: 0.875rem;
  }
  .hero {
    height: 80vh;
    overflow: auto;
  }
  .card {
    width: 60%;
    margin-bottom: 40px;
  }
  .svg-background-image {
    top: 220%;
  }
  .clip-path-1,
  .clip-path-2 {
    display: none;
  }
  .about-us-banner {
    padding: 20px; /* Reduce padding */
    height: auto; /* Adjust height if needed */
    box-shadow: inset 0 0 0 500px rgba(226, 221, 221, 0.4); /* Adjust shadow depth */
  }
  .about-us-banner h1,
  .apt-banner h1 {
    font-size: 1.8rem; /* Smaller font size */
    line-height: 1.2; /* Keep line height consistent */
    color: #FF3333 !important;
  }
  .about-us-banner p,
  .apt-banner p {
    font-size: 1rem; /* Smaller font size */
    line-height: 1.4; /* Slightly reduce line height */
    padding-top: 7px; /* Adjust padding */
    color: #28282B !important;
  }
}
/* Extra Small devices (landscape phones, 576px and down) */
@media (max-width: 36rem) {
  .hero-content h1 {
    font-size: 0.938rem;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) {
  .hero-content h1 {
    font-size: 1.063rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) {
  .hero-content h1 {
    font-size: 1.188rem;
  }
  .price-card:hover {
    margin-top: -5px;
    z-index: 5;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    border: none;
    /*buscar sombras generadas 
    https://getcssscan.com/css-box-shadow-examples */
    /*cuatro valores: desplazamiento de x, desplazamiento de y, nivel de desenfoque y color de la sombra.*/
    /*box-shadow: -2px 3px 7px 1px cyan;*/
    box-shadow: rgba(127, 197, 207, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
  }
}
/* Large devices (tablets, 992px and up) */
@media (min-width: 62rem) {
  .hero-content h1 {
    font-size: 1.313rem;
  }
}
/* X-Large devices (Larger Desktops, 1400px and up) */
@media (min-width: 75rem) {
  .hero-content h1 {
    font-size: 1.438rem;
  }
}
/* XX-Large devices (Larger Desktops, 1400px and up) */
@media (min-width: 87.5rem) {
  .hero-content h1 {
    font-size: 1.563rem;
  }
}/*# sourceMappingURL=rules.css.map */