/* Extra Small devices (landscape phones, 576px and down) */
@media (max-width: 576px){
    body {
        background-color: #78E0E5;
    }
    .ilustracion1 .ilustracion2 img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    h1 {
        font-size: 24px !important;
        color: #C12855;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    body {
        background-color: #BFEB2B;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    body {
        background-color: #C894CF;
    }
}

/* Large devices (tablets, 992px and up) */
@media (min-width: 992px){
    body {
        background-color: #C12855;
    }
}

/* X-Large devices (Larger Desktops, 1400px and up) */
@media (min-width: 1200px){
    body {
        background-color: #CC7220;
    }
}

/* XX-Large devices (Larger Desktops, 1400px and up) */
@media (min-width: 1400px){
    body {
        background-color: #FFFFFF;
    }
}