h1,
h2 {
    color: #016DB9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3,
h6,
p span,
span {
    color: #5E5E5E;
}

button {
    border-radius: 20px;
}

/* Botones*/

.get-tickets-btn {
    border-radius: 50px;
}

.border-top {
    border-top: 1px solid #016DB9 !important; /* Default border color and thickness */
}

.line-decorated {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.line-decorated::before,
.line-decorated::after {
    content: '';
    flex-grow: 1;
    height: 1px; /* Height of the lines */
    background-color: #016DB9 !important; /* Line color */
}

.line-decorated::before {
    margin-right: 20px; /* Space between the line and the text */
}

.line-decorated::after {
    margin-left: 20px; /* Space between the line and the text */
}

.fondo0 {
    background-color: #016DB9;
}

/*CONTENEDORES*/

.container-fluid0 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid1 {
    padding-top: 210px;
    padding-bottom: 200px;
}

.container-fluid2 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-fluid3 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-fluid4 {
    padding-top: 60px;
    padding-bottom: 80px;
}

/* Contenedor de audio */

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Background color of the container */
    padding: 15px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

audio {
    width: 100%; /* Make the audio element take the full width of its container */
}

/* Banner 1 */
.container-fluid1 {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* Efecto parallax */
.banner1 {
    background-image: url(../imgs/dw_t3_top_banner1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo2 {
    color: #f0f0f0;
}


/* Scroll top */
.goto-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
}

/* Whatsapp button */
.uil-whatsapp-alt {
    font-size: 60px; /* Adjusts both width and height proportionally */
    color: #0B4167; /* WhatsApp green color */
}

/* Scroll top */
.goto-wa {
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 50px;
    height: 50px;
}