/*********************  MENU NAV ******************************/
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.optmenu {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: all 1s solid;
}

.optmenu:hover {
    color: #fff;
    background-color: #661616;
    transition: all 1s solid;
}

.optmenu:active {
    background-color: brown;
}



/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler {
    background-color: #d6dbe3;
    border: 3px solid #fff;  
}

.navbar-toggler:hover {
    background-color: #d6dbe3;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

/*lineas*/








/*********************  ENCABEZADO BANNER WEB INICIAL ******************************/

.banner-section {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(100vh);
    background-position: center;
    background-image: url('../imagenes/banner2.jpg');
    background-color: #928372;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.espacio {
    padding: 120px 0;
}

.espacio2 {
    padding: 140px 0;
}



.linea {
    margin: 5rem 0;
}

.bannerparallax {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(40vh);
    background-position: center;
    background-image: url('../imagenes/banner3.jpg');
    background-color: brown;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

/*noticia*/
.Noticia1 .noticia1-img {
    width: 100%; /* Hace que la imagen sea responsiva */
    max-width: 800px; /* Ajusta el tama침o m치ximo de la imagen */
    height: auto; /* Mantiene la proporci칩n de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A침ade sombra */
    margin: 20px 0; /* Espaciado vertical */
}




/*formulario*/

label {
    color: #000;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    float: left;
}


/* Para agregar un borde cuando se activan los campos */

input:hover {
    outline: 3px solid brown;
}

textarea:hover {
    outline: 3px solid brown;
}


/* Propiedades de los campos */

input,
textarea {
    cursor: pointer;
    background-color: #e2e2e2 !important;
}


/* Propiedades de los botones */

.enviar {
    width: 170px;
    height: 60px;
    color: #fff;
    margin: 0 auto;
    font-size: 26px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    border-color: #e7cdf5;
    background-color: brown !important;
}

.borrar {
    color: #fff;
    width: 170px;
    height: 60px;
    margin: 0 auto;
    font-size: 26px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    border-color: #e7cdf5;
    background-color: brown !important;
}


/* validacion campo TextArea */

textarea {
    resize: none;
    /*
  height:150px;
  max-height:150px;
  min-height:150px;
  max-width:auto;
  min-width:400px;*/
}


/*********************  PIE DE PAGINA ******************************/

footer {
    color: #fff;
    padding-top: 10px;
    background-color: #928372;
}

footer h3 {
    color: #a5204d;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer .copyright {
    padding: 15px 0;
    margin-top: 20px;
    font-size: 1.3rem;
}


/********************* MEDIAS QUERYS ******************************/

@media (max-width: 575px) {
    html {
        font-size: 1rem;
    }
    .logo img {
        
        display: block !important;
        margin:0 auto !important; 
        /*margin-left: 50px;*/
    }
    .navbar-toggler {
        margin: 0 auto;
    }
    .titulo {
        font-size: 2.5rem;
        margin-top: 150px;
    }
    p {
        font-size: 1.1rem !important;
    }
    .bannerparallax {
        height: calc(100vh);
    }
}


