@media (max-width: 576px){
    .banner1{
        background-image: none;
        background-color: rgb(215, 186, 39);
    }
    .titulo1{
        color: #74380a !important;
        font-weight: bolder;
    }

}


@media (max-width: 992px){
    .titulo2{
        background-color: #74380a;
    }

    .banner2{
        background-image: none;
        background-color: burlywood;
    }

}


@media (min-width: 1440px){
    body p{
        background-color: black;
        color: whitesmoke !important;
    }
}
