@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


html {
    font-size: 16px;
}

/****************************** Estilos de Títulos ******************************/
h1 {
    font-family: "Bona+Nova+SC";
    font-size: 3rem !important;
    color: #016DB9 !important;
}

h2 {
    font-family: "Bona+Nova+SC";
    font-size: 2rem !important;
    color: #016DB9 !important;
}

/****************************** Estilos de Párrafos ******************************/
p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem !important;
    color: #5E5E5E !important;
}
.p-medium {
    font-size: 1.15rem !important;
}
.p-large {
    font-size: 1.50rem !important;
}

/****************************** Estilos de Botones ******************************/
button {
    font-family: "Nunito Sans", sans-serif !important;
}

/****************************** Estilos de Input ******************************/
/* Placeholder */
input::placeholder {
    color: #cec1c1 !important;
}
/* Added text */
input:focus {
    border-color: #66AFE9;
    outline: none;
}
input:valid,
input:not(:placeholder-shown){
    font-family: "Nunito Sans", sans-serif;
    color: #016DB9 !important;
}



h3,
h5,
h6,
p span,
span {
    color: #5E5E5E;
}

button {
    border-radius: 20px;
}

/****************************** Menu Nav ******************************/
.nav-style {
    /* background-color: #121634; */
    background-color: rgba(18, 22, 52, 1);
    box-shadow: #016DB9;
}

.navbar {
    padding: 10px 0 10px 0;
    letter-spacing: 3px;
    color: #a5204d;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.optmenu {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: all 1s solid;
}

.optmenu:hover {
    color: #016DB9;
    border-radius: 5px;
    background-color: rgba(82, 79, 79, 0.7);
    transition: all 1s solid;
}

.optmenu:active {
    background-color: orange;
}

/****************************** Menu Hamburguesa ******************************/
.navbar-toggler {
    background-color: #D6DBE3;
    border: 3px solid #FFF;
}

.navbar-toggler:hover {
    background-color: #D6DBE3;
}

.custom-toggler.navbar-toggler {
    border-color: #121634;
    border-width: 1px;
}

/* Líneas */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 22, 52, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }         
.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 22, 52, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }   

/****************************** Flechas carrusel ******************************/
.carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 50px;
      height: 50px;
      background-size: 100%, 100%;
      background-color: gray;
    }

/****************************** Botones ******************************/
.get-tickets-btn {
    border-radius: 50px;
}
.get-tickets-btn a {
    color: #f0f0f0;
    text-decoration: none;
}

/****************************** Líneas de Títulos ******************************/
.line-decorated {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.line-decorated::before,
.line-decorated::after {
    content: '';
    flex-grow: 1;
    height: 1px; /* Height of the lines */
    background-color: #016DB9 !important; /* Line color */
}
.line-decorated::before {
    margin-right: 20px; /* Space between the line and the text */
}
.line-decorated::after {
    margin-left: 20px; /* Space between the line and the text */
}

/****************************** Línea separadora ******************************/
.separator-line {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #016DB9;
}

/****************************** Contenedor de audio ******************************/
audio {
    width: 25%; /* Make the audio element take the full width of its container */
    background-color: rgba(60, 43, 172, 0.8) !important;
}

/****************************** Efecto parallax ******************************/
.banner-parallax {
    background-image: url(../imgs/dw_e1_top_banner1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 140px;
    padding-bottom: 140px;
}

.banner-parallax-text {
    font-family: "Alegreya", cursive !important;
    font-size: 2.5rem !important;
    color: #d5c7e5 !important;
}

/****************************** Scroll top ******************************/
.goto-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
}

/****************************** Botón Whatsapp ******************************/
.uil-whatsapp-alt {
    font-size: 60px; /* Adjusts both width and height proportionally */
    color: #0B4167; /* WhatsApp green color */
}

.goto-wa {
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 50px;
    height: 50px;
}

/****************************** Footer ******************************/
.footer-txt {
    color: #016DB9;
}

.container-fluid-footer {
    padding: 20px 0px;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icons-style a {
    padding: 0px 10px;
}

.icons-style a i{
    color: #0B4167;
}

/****************************** Icons ******************************/
.custom-icon {
    color: #016DB9;
}

/****************************** Animations ******************************/
.custom-animation-duration {
    animation-duration: 2s !important;
}


/****************************** Image transitions ******************************/
.custom-transition-font {
    color: #2f0c57 !important;
    font-family: "Alegreya", cursive;
}

/* Contenedor de los circulos promocionales */
.circlecontainer {
    position: relative;
    display: inline-block;
}

/* Transición ejecutada */
.hovercircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgba(158, 136, 183, 0.7);
    /* Instrucciones flex para centrar los círculos */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    opacity: 0;
    /* Transición para hacer un efecto suave al pasar el mouse */
    /* ease es una aceleración suave */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.circlecontainer:hover .hovercircle {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.img-galeria {
    width: 250px;
    border-radius: 100%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/****************************** Contáctenos ******************************/

.contact-icon {
    font-size: 3rem;
    color: #828181;
    transition: color 0.3s ease;
}

.wa-text {
    color: #25D366;
}

.ig-text {
    color: #E1306C;
}

.fb-text {
    color: #3b5998;
}

.wa-contact-icon {
    color: #25D366; 
}

.ig-contact-icon {
    color: #E1306C; 
}

.fb-contact-icon {
    color: #3b5998; 
}

.wa-contact-icon:hover {
    color: #15793A; 
}

.ig-contact-icon:hover {
    color: #8F143D; 
}

.fb-contact-icon:hover {
    color: #1D2B49; 
}

.contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}